<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UaApplicationConfiguration" type="UnifiedAutomation.UaBase.ApplicationConfigurationSection,UnifiedAutomation.UaBase"/>
  </configSections>

  <UaApplicationConfiguration>
    <SecuredApplication xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://opcfoundation.org/UA/2011/03/SecuredApplication.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd">

      <!-- Identify the Application -->
      <ApplicationName>UaServerNet@localhost</ApplicationName>
      <ApplicationUri>urn:localhost:UnifiedAutomation:UaServerNet</ApplicationUri>
      <ApplicationType>Server_0</ApplicationType>

      <!-- Specify location of Certificates and Trust Lists -->
      <ApplicationCertificate>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiserver\own</StorePath>
        <SubjectName>CN=UaServerNet/O=UnifiedAutomation/DC=localhost</SubjectName>
      </ApplicationCertificate>

      <TrustedCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiserver\trusted</StorePath>
        <!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Applications</StorePath>
        -->
      </TrustedCertificateStore>
      <IssuerCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiserver\issuers</StorePath>
        <!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Certificate Authorities</StorePath>
        -->
      </IssuerCertificateStore>
      <RejectedCertificatesStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiserver\rejected</StorePath>
      </RejectedCertificatesStore>

      <BaseAddresses>
        <BaseAddress>opc.tcp://localhost:48030</BaseAddress>
      </BaseAddresses>
      <SecurityProfiles>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256Sha256</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <!--
        The SecurityPolicy 'Basic256' has been marked as deprecated and should not be used.
        It is up to an administrator to configure the actual exposed SecurityPolicies.
        -->
        <!--
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        -->
        <!--
        The SecurityPolicy 'Basic128Rsa15' has known exploits and should not be used.
        It is up to an administrator to configure the actual exposed SecurityPolicies.
        -->
        <!--
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic128Rsa15</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>  
        -->
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Aes128_Sha256_RsaOaep</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Aes256_Sha256_RsaPss</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        
        <SecurityProfile>
          <!-- This SecurityProfile is enabled for testing purposes. It shall NOT be enabled in end user products. -->
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#None</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
      </SecurityProfiles>
      <Extensions>

        <!-- the EndpointUrl attribute for an Endpoint node must match one of the BaseAddresses -->
        <Extension>
          <EndpointSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <Endpoint EndpointUrl="opc.tcp://localhost:48030">
              <EnableSignOnly>true</EnableSignOnly>
              <OutgoingReverseConnections>
                <OutgoingReverseConnectionConfiguration>
                  <RemoteClientUrl>opc.tcp://localhost:48070</RemoteClientUrl>
                  <ConnectRetryInterval>10</ConnectRetryInterval>
                  <ConnectCount>4</ConnectCount>
                </OutgoingReverseConnectionConfiguration>
              </OutgoingReverseConnections>
            </Endpoint>
          </EndpointSettings>
        </Extension>

        <Extension>
          <TransportSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <SecurityTokenLifetime>60000</SecurityTokenLifetime>
          </TransportSettings>
        </Extension>

        <!-- Specify the Trace settings for the Application
             Available trace levels are:
              - Default:         Use the default trace level.
              - None:            Turn all tracing off.
              - Error:           Unexpected errors that require the attention of developers or administrators.
              - Warning:         Less critical issues that also require the attention of developers or administrators.
              - System:          General system messages.
              - Info:            Informational messages.
              - InterfaceCall:   The entry and exit messages for major API methods.
              - Constructor:     The constructors of major API objects.
              - ProgramFlow:     Additional entry and exit messages for minor API methods.
              - Data:            Verbose information when the state of objects changes during processing.
        -->
        <Extension>
          <TraceSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd" MasterTraceEnabled="false" DefaultTraceLevel="Info">
            <TraceFile>%CommonApplicationData%\unifiedautomation\logs\UaSdkNetBundlePubSubBinary\UaServerNet.log.txt</TraceFile>
            <MaxEntriesPerLog>100000</MaxEntriesPerLog>
            <MaxLogFileBackups>3</MaxLogFileBackups>
            <ModuleSettings>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Stack" TraceEnabled="true"/>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Server" TraceEnabled="true"/>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.PubSub" TraceEnabled="true"/>
            </ModuleSettings>
            <OnlineConfiguration Enabled="true" MaxEntriesPerLogMinimum="1000" MaxEntriesPerLogMaximum="500000" MaxLogFileBackupsMaximum="5"/>
          </TraceSettings>
        </Extension>

        <!-- Specify Settings when EXE is run with the /install argument -->
        <Extension>
          <InstallationSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <GenerateCertificateIfNone>true</GenerateCertificateIfNone>
            <!-- Supported values are 1024, 2048, 3072 and 4096. Default is 2048. -->
            <CertificateKeyLength>2048</CertificateKeyLength>
            <!-- Possible values are sha1 and sha256. Default is sha256. -->
            <CertificateHashAlgorithm>sha256</CertificateHashAlgorithm>
            <DeleteCertificateOnUninstall>true</DeleteCertificateOnUninstall>
          </InstallationSettings>
        </Extension>

        <Extension>
          <ServerSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <ProductUri>urn:UnifiedAutomation:UaServerNet</ProductUri>
            <ProductName>UnifiedAutomation UaServerNet</ProductName>
            <AvailableLocaleIds>
              <String>en-US</String>
            </AvailableLocaleIds>
            <!-- Specify the allowed user identities and user certificate stores for the Application.-->
            <UserIdentity>
              <EnableAnonymous>true</EnableAnonymous>
              <EnableUserName>true</EnableUserName>
              <!-- 
              UserName identities can be managed with the UserManagement implementation.
              The UserManagement will be initialized if its config is set at the UserIdentity settings.
              The PasswordOptions mask can be configured with the following bits:
                0   = None
                1   = SupportInitialPasswordChange
                2   = SupportDisableUser
                4   = SupportDisableDeleteForUser
                8   = SupportNoChangeForUser
                16  = SupportDescriptionForUser
                32  = RequiresUpperCaseCharacters
                64  = RequiresLowerCaseCharacters
                128 = RequiresDigitCharacters
                256 = RequiresSpecialCharacters
              -->
              <UserManagement FilePath="%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\Configuration\DemoServerUserConfiguration.xml">
                <MinPasswordLength>3</MinPasswordLength>
                <MaxPasswordLength>0</MaxPasswordLength>
                <PasswordOptions>21</PasswordOptions>
                <PasswordRestrictions Locale="de-DE" Text="Der Server unterstuetzt Benutzer Beschreibungen sowie die Moeglichkeit das Loeschen von Benutzern zu verhindern." />
                <PasswordRestrictions Locale="en-US" Text="The server supports user descriptions as well as the option to disable the deletion of users." />
              </UserManagement>
              <!--
              Authentication with certificate is not fully implemented.
              The store paths for the user certificate cannot be configured using the IConfiguration interface e.g. with the app.config.
              These paths must be set in code.
              -->
              <EnableCertificate>true</EnableCertificate>
              <UserTrustedCertificateStore>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiuser\trusted</UserTrustedCertificateStore>
              <UserIssuerCertificateStore>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiuser\issuers</UserIssuerCertificateStore>
              <UserRejectedCertificateStore>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\pkiuser\rejected</UserRejectedCertificateStore>
            </UserIdentity>
            <DiscoveryRegistration>
              <Enabled>false</Enabled>
              <RegistrationInterval>60</RegistrationInterval>
            </DiscoveryRegistration>
            <!--
            Capabilities are exposed in Server -> ServerConfiguration -> ServerCapabilities.
            The normative set of ServerCapabilityIdentifiers can be found at
            https://www.opcfoundation.org/UA/schemas/ServerCapabilities.csv
            -->
            <Capabilities>
              <String>DA</String>
              <String>HD</String>
              <String>AC</String>
              <String>HE</String>
              <String>RCP</String>
            </Capabilities>
            <!--
            Security policies which have known exploits sometimes have to be enabled for interoperability.
            If set to true, this settings allows the use of those security policies. Use with caution.
            -->
            <AllowDepreciatedPolicies>false</AllowDepreciatedPolicies>
            <!--
            Set path to RoleConfiguration XML/INI file 
            -->
            <RoleConfigurationsFilePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\Configuration\DemoServerRoleConfiguration.xml</RoleConfigurationsFilePath>
            <PublishSubscribe>
              <!--
              Specifies the file path for the pub-sub configuration backup file. If not specified,
              the server will lose the pub-sub configuration after restart.
              -->
              <ConfigurationFile>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\Configuration\pubsub.uabinary</ConfigurationFile>
            </PublishSubscribe>
          </ServerSettings>
        </Extension>

        <Extension>
          <SessionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxOutstandingServiceRequests>200</MaxOutstandingServiceRequests>
            <MaxNodesPerTranslateBrowsePathsToNodeIds>5000</MaxNodesPerTranslateBrowsePathsToNodeIds>
          </SessionSettings>
        </Extension>

        <Extension>
          <SubscriptionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MinPublishingInterval>50</MinPublishingInterval>
            <PublishingIntervalResolution>50</PublishingIntervalResolution>
            <MaxSubscriptionCount>500</MaxSubscriptionCount>
            <MaxSubscriptionsPerSession>100</MaxSubscriptionsPerSession>
            <MaxNotificationsPerPublish>25000</MaxNotificationsPerPublish>
            <MaxMessageQueueSize>100</MaxMessageQueueSize>
          </SubscriptionSettings>
        </Extension>

        <Extension>
          <CertificateCheckSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">

            <!-- This element sets the default certificate checks which are enforced by the application -->
            <Default DisableDomainCheck="false" DisableApplicationUriCheck="false" DisableCertificateTimeInvalid="false" DisableCertificateIssuerTimeInvalid="false" DisableCertificateRevocationUnknown="false" DisableCertificateIssuerRevocationUnknown="false"/>

            <!-- These elements override the default certificate checks for a single certificate -->

            <!--
            <Certificate Thumbprint="9F94EBF4473CE8589F348FD853D1DBF3A3514A7D" DisableApplicationUriCheck="true" DisableCertificateRevocationUnknown="true" />
            <Certificate Thumbprint="8B2B4864EDAD10D73DBFFBC0BC820E76A7A6A22C" DisableCertificateRevocationUnknown="true" />
            -->

          </CertificateCheckSettings>
        </Extension>

        <Extension>
          <KeyCredentialSettings xmlns="http://unifiedAutomation.com/configuration/DemoServer">
            <FileName>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubBinary\Configuration\KeyCredentials.xml</FileName>
          </KeyCredentialSettings>
        </Extension>

      </Extensions>
    </SecuredApplication>
  </UaApplicationConfiguration>

 </configuration>
